<% provide(:title, 'Red Rover') %>
<!-- Title -->
<div class="row bottom-large-spacer top-small-spacer">
    <div class="span12 center">
        <%= image_tag("RedRoverLogo.png", :class=>"ignore-resize") %>
    </div>
</div>

<!-- Video -->
<div class="row bottom-small-spacer">
    <div class="span12 center">
        <iframe id="video" width="100%" height="529" src="http://player.vimeo.com/video/47953922?byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

<!-- Social -->
<div class="row bottom-small-spacer hidden-phone">
    <div class="span2 offset1">
        <a href="http://twitter.com/newton64/" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Twitter']);"><%= image_tag("twittericon.png", :width=>"140px") %></a>
    </div>
    <div class="span2 offset2">
        <a href="http://www.ko-opmode.com"  onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'KO-OP Mode']);"><%= image_tag("ko-opicon.png", :width=>"140px") %></a>
    </div>
    <div class="span2 offset2">
        <a href="https://www.facebook.com/pages/Red-Rover-The-Game/116057868541123"  onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Facebook']);"><%= image_tag("fbicon.png", :width=>"140px") %></a>
    </div>
</div>

<!-- Phone -->
<div class="row bottom-small-spacer center visible-phone">
        <a href="http://twitter.com/newton64/" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Twitter-phone']);"><%= image_tag("twittericon.png", :width=>"80px") %></a>
        <a href="http://www.ko-opmode.com" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'KO-OP Mode-phone']);"><%= image_tag("ko-opicon.png", :width=>"80px") %></a>
        <a href="https://www.facebook.com/redrovergame" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'Facebook-phone']);"><%= image_tag("fbicon.png", :width=>"80px") %></a>
</div>


<!-- Text -->
<div class="row">
    <div class="span12 justify">
        <p><span class="highlight">Red Rover</span> is an experimental game about space exploration and the human voyage to Mars. Inspired by hard science fiction and science fact, it is a surreal journey through space and the mind to explore the scope of human achievement, and to find a home within the cosmos.</p>
        <p>Out in 2013 for Linux, Mac, and Windows.  Follow the development on <a href="http://newton64.ca/blog" onClick="_gaq.push(['_trackEvent', 'Links', 'click', 'NicksBlog']);">Nick's</a> website.</p>
  </div>
</div>
