<% provide(:title, 'Home') %>
<!-- Title -->
<div class="row bottom-large-spacer">
    <div class="span12 center">
        <%= image_tag("RedRoverLogo940.png") %>
    </div>
</div>

<!-- Video -->
<div class="row bottom-small-spacer">
    <div class="span10 center">
        <iframe id="video" width="100%" height="529" src="http://www.youtube.com/embed/ngAPkCoIAzQ?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Social -->
<div class="row-fluid bottom-small-spacer center hidden-phone">
    <div class="span4">
        <a href="http://twitter.com/newton64/"><%= image_tag("twittericon140.png") %></a>
    </div>
    <div class="span4">
        <a href="http://www.ko-opmode.com"><%= image_tag("ko-opicon.png") %></a>
    </div>
    <div class="span4">
        <a href="https://www.facebook.com/pages/Red-Rover-The-Game/116057868541123"><%= image_tag("fbicon140.png") %></a>
    </div>
</div>

<!-- Phone -->
<div class="row bottom-small-spacer center visible-phone">
        <a href="http://twitter.com/newton64/"><%= image_tag("twittericon140.png", :width=>"100px") %></a>
        <a href="http://www.ko-opmode.com"><%= image_tag("ko-opicon.png", :width=>"100px") %></a>
        <a href="https://www.facebook.com/pages/Red-Rover-The-Game/116057868541123"><%= image_tag("fbicon140.png", :width=>"100px") %></a>
</div>


<!-- Text -->
<div class="row">
    <div class="span10 justify">
        <p><span class="highlight">Red Rover</span> is an experimental game about space exploration and the human voyage to Mars.  It combines elements of first-person discovery and puzzle-solving -- seen in game such as <span class="highlight">Myst</span> and <span class="highlight">Proteus</span> -- with an abstract and contemplative approach to hard sci-fi -- as in <span class="highlight">2001: A Space Odyssey</span> or Carl Sagan's <span class="highlight">Cosmos: A Personal Voyage.</span> Out in 2013 for PC, Mac, and Linux.</p>
  </div>
</div>
